.img_btn {
  position: absolute;
  left: 40px;
  top: 40px;
  /* bottom: 50px; */
  cursor: pointer;
}
.img_btn img {
  width: 60%;
  height: 120px;
  border-radius: 50%;
  border: 10px solid rgb(231, 228, 228);
}
@media screen and (max-width: 500px) {
  .img_btn img {
    width: 50px;
  }
}
