:root {
  --redPrimary: #ed1d24;
  --redDark: #cc050c;
  --redLight: #ff4a50;
  --redSecondary: #ffd9dc;

  --purplePrimary: #74488b;

  --greenPrimary: #0db14b;
  --greenDark: #01a23e;
  --greenSecondary: #dffae0;
  --purpleSecondary: #eae1ff;

  --white: #fff;
  --black: #202020;
  --gray: #3f3f3f;
  --lightGray: #c7c7c7;

  --bluePrimary: #0000ff;
}
