.unsuccess_component {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translateY(-50%);

  .unsuccess_messages {
    width: 200px;
  }

  .title {
    font-size: 38px;
    font-weight: 900;
    color: var(--black);
    font-family: "Tatsam Bengali Medium";
    margin: 2rem 0;
    text-align: center;
  }
  p {
    font-size: 38px;
    font-weight: 600;
    color: var(--black);
    font-family: "Tatsam Bengali Light";
  }
  .sub_title {
    font-size: 48px;
    font-weight: 900;
    color: var(--black);
    font-family: "Tatsam Bengali Medium";
  }
  .btn_unsuccess {
    width: 600px;
    cursor: pointer;
  }
}

/* ==================== media ============= */
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 991px) {
  .unsuccess_component {
    .title {
      font-size: 28px;
      margin: 1rem 0;
    }
    .btn_unsuccess {
      width: 500px;
    }
  }
}

/* ======= All Landscape Mobile view======= */
@media screen and (max-width: 760px) {
  .unsuccess_component {
    .unsuccess_messages {
      width: 150px;
    }

    .title {
      font-size: 22px;
    }
    .btn_unsuccess {
      width: 400px;
    }
  }
}

/* =========== All Mobile Horizontal view =========== */
@media screen and (max-width: 420px) {
  .unsuccess_component {
    .unsuccess_messages {
      width: 150px;
    }

    .title {
      font-size: 22px;
      margin: 1rem;
    }
    .btn_unsuccess {
      width: 300px;
    }
  }
}
