@font-face {
  font-family: "Tatsam Bengali Bold";
  src: url("../fonts/TatsamBengaliRnd-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Tatsam Bengali Book";
  src: url("../fonts/TatsamBengaliRnd-Book.otf") format("opentype");
}

@font-face {
  font-family: "Tatsam Bengali Demi";
  src: url("../fonts/TatsamBengaliRnd-Demi.otf") format("opentype");
}

@font-face {
  font-family: "Tatsam Bengali Light";
  src: url("../fonts/TatsamBengaliRnd-Light.otf") format("opentype");
}

@font-face {
  font-family: "Tatsam Bengali Medium";
  src: url("../fonts/TatsamBengaliRnd-Medium.otf") format("opentype");
}
