.registration_component {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 1rem;
  margin-top: 7rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  .title {
    font-size: 38px;
    font-weight: 900;
    color: var(--redPrimary);
    font-family: "Tatsam Bengali Medium";
    margin-bottom: 2rem;
  }

  .input_field {
    font-size: 22px;
    font-weight: 700;
    font-family: "Tatsam Bengali Medium", "Nunito", "Helvetica Neue";
    display: block;
    width: 500px;
    padding: 15px 20px;
    background-color: rgba($color: #f7f6f6, $alpha: 0.8);
    color: var(--black);
    border-radius: 20px;
    outline: none;
    border: 3px solid var(--white);
    transition: all 0.3s ease;
    margin-bottom: 1.25rem;
    &::placeholder {
      font-size: 22px;
      color: #b6b6b6;
    }
    &:focus,
    &:hover {
      outline: none;
      box-shadow: 0 0 16px rgba($color: #5f5f5f, $alpha: 0.5);
    }
  }

  .btn_reg {
    width: 450px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      filter: drop-shadow(0 0 8px rgba($color: #5f5f5f, $alpha: 0.7));
    }
  }
  /* ============ Button disabled Style Start ========== */
  .disabled {
    filter: grayscale(100%);
    &:hover {
      cursor: not-allowed;
      filter: grayscale(100%);
    }
  }
  /* ============ Button disabled Style End ========== */
  .term_wrapper {
    margin-top: 15px;

    .terms_condition {
      font-size: 22px;
      color: var(--black);
      font-family: "Tatsam Bengali Medium";
      span {
        color: var(--bluePrimary);
      }
    }
  }

  /* ====================== */
  input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 1.5em;
    height: 1.5em;
    border: 0.15em solid var(--gray);
    border-radius: 0.25em;
    transform: translateY(-0.075em);
    cursor: pointer;

    display: grid;
    place-content: center;
  }

  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: center center;
    transition: 120ms transform ease-in-out;
    /* Windows High Contrast Mode */
    background-color: var(--bluePrimary);
  }

  input[type="checkbox"]:checked {
    border-color: var(--bluePrimary);
  }
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
}

/* *
*******
*****

Media 
**
 */

@media screen and (max-width: 1024px) {
  .registration_component {
    margin-top: 3rem;
  }
}
@media screen and (max-width: 991px) {
  .registration_component {
    margin-top: 1rem;
    .title {
      font-size: 28px;
      margin-bottom: 1rem;
    }
    .warning {
      border: 1px solid red;
    }
    .input_field {
      width: 370px;
      padding: 12px 20px;
      margin-bottom: 1rem;

      &::placeholder {
        font-size: 20px;
      }
    }
    .btn_reg {
      width: 300px;
    }
    .term_wrapper {
      .terms_condition {
        font-size: 18px;
      }
    }
  }
}
@media screen and (max-width: 760px) {
  .registration_component {
    margin-top: 1rem;
    .title {
      font-size: 20px;
      margin-bottom: 0.5rem;
    }
    .warning {
      border: 1px solid red;
    }
    .input_field {
      font-size: 15px;
      width: 250px;
      padding: 8px 15px;
      margin-bottom: 0.5rem;
      border-radius: 6px;
      &::placeholder {
        font-size: 14px;
      }
    }
    .btn_reg {
      scale: 0.7;
      margin-top: -0.25rem;
    }
    .term_wrapper {
      margin-top: 0px;
      .terms_condition {
        font-size: 13px;
        color: var(--black);
        font-family: "Tatsam Bengali Light";
      }
    }
    input[type="checkbox"] {
      width: 14px;
      height: 14px;
      border-radius: 0.15em;
      border: 0.13em solid var(--gray);
    }
    input[type="checkbox"]::before {
      width: 0.45em;
      height: 0.45em;
    }
  }
}
@media screen and (max-width: 420px) {
  .registration_component {
    margin-top: 0rem;
    .title {
      font-size: 16px;
      margin-bottom: 0.3rem;
    }
    .warning {
      border: 1px solid red;
    }
    .input_field {
      font-size: 15px;
      width: 210px;
      padding: 5px 10px;
      margin-bottom: 0.4rem;
      border-radius: 6px;
      &::placeholder {
        font-size: 14px;
      }
    }
    .btn_reg {
      scale: 0.6;
      margin-top: -12px;
    }
    .term_wrapper {
      margin-top: -5px;
      .terms_condition {
        font-size: 12px;
      }
    }
  }
}
@media screen and (max-width: 320px) {
  .registration_component {
    margin-top: 0rem;
    .title {
      font-size: 13px;
      margin-bottom: 0.3rem;
    }
    .warning {
      border: 1px solid red;
    }
    .input_field {
      font-size: 12px;
      width: 180px;
      padding: 3px 8px;
      margin-bottom: 0.3rem;
      border-radius: 6px;
      &::placeholder {
        font-size: 10px;
      }
    }
    .btn_reg {
      scale: 0.5;
      margin-top: -14px;
    }
    .term_wrapper {
      margin-top: -7px;
      .terms_condition {
        font-size: 10px;
      }
    }
  }
}
