.divider {
  display: grid;
  height: 100%;
  width: 6px;
  background-color: white;
  place-content: center;
  .ball_controller {
    position: relative;
    .ball {
      border-radius: 50%;
      height: 50px;
      width: auto;
    }
  }
}

.ball_controller::after {
  position: absolute;
  content: "";
  border: solid red;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  top: 40%;
  right: -9px;
}

.ball_controller::before {
  position: absolute;
  content: "";
  border: solid red;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  top: 40%;
  left: -9px;
}
