.triangle_wrapper {
  position: absolute;
  transform: rotate(150deg);
}
.triangle {
  position: relative;
  background-color: var(--redPrimary);
  text-align: left;
}
.triangle:before,
.triangle:after {
  content: "";
  position: absolute;
  background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
  width: 10px;
  height: 10px;
  border-top-right-radius: 30%;
}

.triangle {
  transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
}
.triangle:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707)
    translate(0, -50%);
}
.triangle:after {
  transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}

/* 
        <div className="triangle_wrapper">
          <div class="triangle"></div>
        </div>
 */
