.img_btn {
  position: absolute;
  left: 10%;
  top: 15%;
  cursor: pointer;
}
.img_btn img {
  width: 100px;
  border: 5px solid rgb(85, 15, 15);
}
@media screen and (max-width: 500px) {
  .img_btn img {
    width: 50px;
  }
}
