* {
  margin: 0;
  padding: 0;
}
@import url("//fonts.googleapis.com/css?family=Nunito:400,400i,600,700,800&display=swap");

@font-face {
  font-family: "Tatsam Bengali Rnd";
  src: url("./assets/fonts/TatsamBengaliRnd-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Tatsam Bengali Rnd";
  src: url("./assets/fonts/TatsamBengaliRnd-Book.otf") format("opentype");
}
@font-face {
  font-family: "Tatsam Bengali Rnd";
  src: url("./assets/fonts/TatsamBengaliRnd-Demi.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Tatsam Bengali Rnd";
  src: url("./assets/fonts/TatsamBengaliRnd-Light.otf") format("opentype");
}
@font-face {
  font-family: "Tatsam Bengali Rnd";
  src: url("./assets/fonts/TatsamBengaliRnd-Medium.otf") format("opentype");
}

body {
  font-family: "Nunito", "Tatsam Bengali Rnd", "Helvetica Neue";
}
